.badge {
  position: relative;
}

.badge-icon {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--info-background-color);
}

/* BADGE FOR XS AVATARS */

.badge-xs {
  width: 3rem;
}

.badge-icon-xs {
  width: 1rem;
  height: 1rem;
  top: 0;
  right: 0;
}

/* BADGE FOR SM AVATARS */

.badge-sm {
  width: 5rem;
}

.badge-icon-sm {
  width: 1.5rem;
  height: 1.5rem;
  top: 0;
  right: 0;
}

/* BADGE FOR MD AVATARS */

.badge-md {
  width: 7rem;
}

.badge-icon-md {
  width: 2rem;
  height: 2rem;
  top: 0;
  right: 0;
}

/* BADGE FOR LG AVATARS */

.badge-lg {
  width: 9rem;
}

.badge-icon-lg {
  width: 3rem;
  height: 3rem;
  top: 0;
  right: 0;
}

.icon-badge {
  position: relative;
}

.icon-badge-icon {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--info-background-color);
}

/* BADGE FOR MD ICONS */

.icon-sm {
  height: 1.5rem;
  width: 1.5rem;
}

.icon-badge-sm {
  width: 1.5rem;
}

.icon-badge-icon-sm {
  width: 0.7rem;
  height: 0.7rem;
  top: -3.5px;
  right: -3.5px;
  font-size: 10px;
}

/* BADGE FOR MD ICONS */

.icon-md {
  height: 3rem;
  width: 3rem;
}

.icon-badge-md {
  width: 3rem;
}

.icon-badge-icon-md {
  width: 1rem;
  height: 1rem;
  top: -4.5px;
  right: -4.5px;
  font-size: 10px;
}

/* BADGE FOR LG ICONS */

.icon-lg {
  height: 5rem;
  width: 5rem;
}

.icon-badge-lg {
  width: 5rem;
}

.icon-badge-icon-lg {
  width: 1.5rem;
  height: 1.5rem;
  top: -5.5px;
  right: -5.5px;
  font-size: 15px;
}
