.alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  width: 50rem;
  height: 2rem;
  font-size: 1.3rem;
  gap: 1rem;
}

.alert-error {
  background-color: var(--error-background-color);
}

.alert-success {
  background-color: var(--success-background-color);
}

.alert-warning {
  background-color: var(--warning-background-color);
}

.alert-info {
  background-color: var(--info-background-color);
}
